.fancy-header {
	color: blue; /*comment for fun */
	text-decoration: underline;
}

h1.steven-style {
	color: #26a214;
	text-decoration: underline dotted #26a214;
}

.white-bg {
	background-color: white;
}

body {

	font-family: 'Trocchi', cursive;
	background-image: url("../img/test.png");
}

ul {
	list-style: square;
}


tr, td {
	padding : 1em;
	font-family: Times New Roman, Times, Sans-Serif;
}

a:visited {
	color: red;
}

a:link {
	color: purple;
}

a:hover {
	color: white;
}

a:active {
	color: blue;
}